[Unit]
Description=Monthly Cloudflare Certificate Regeneration
After=network-online.target

[Service]
Environment=JOBS=max
Environment=NODE_ENV=production
WorkingDirectory=/cloudflare-certificate-updater/
ExecStartPre=/usr/bin/git pull
ExecStartPre=/usr/bin/npm ci --omit=dev --audit=false --fund=false
ExecStart=/usr/bin/node index.js
ExecStartPost=systemctl restart nginx.service
User=root
Group=root
Type=oneshot

[Install]
WantedBy=multi-user.target